<div class="container-fluid">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-sm-1"><p class="form-control-static">T: {{ movs.length }} &nbsp; <span ng-show="movimentacoesSelecionadas.length > 0">S: {{ movimentacoesSelecionadas.length }}</span></p></div>
            <div class="col-sm-2"><input type="text" class="form-control" ng-model="filtroGeral"/></div>
            <div class="col-sm-2"><input type="month" class="form-control" ng-model="filtroMes"/></div>
            <div class="col-sm-1">
                <select class="form-control" ng-model="filtroOrigem" ng-options="obj.value as obj.label for obj in origemCombo"></select>
            </div>
            <div class="col-sm-2">
                <a href="/prp/movimentacao/add" class="btn btn-default btn-primary btn-xs">Adicionar Movimentações</a>
            </div>
            <div class="col-sm-2">
                <a ng-click="alterarMovimentacoesSelecionadas()" class="btn btn-success btn-xs"
                   ng-show="(movimentacoesSelecionadas = (movs | filter: {selecionada: true})).length > 0">Alterar Movimentações Selecionadas</a>
            </div>
            <div class="col-sm-offset-1 col-sm-1">
                <a ng-click="removerSelecoes()" class="btn btn-success btn-xs"
                   ng-show="movimentacoesSelecionadas.length > 0"><span class="glyphicon glyphicon-ban-circle"></span></a>
            </div>
        </div>
    </form>

    <table class="table table-striped table-condensed table-hover" style="font-size: 60%">
        <thead>
        <tr>
            <th>#</th>
            <th>Data</th>
            <th>Num. Doc.</th>
            <th>Descricao1</th>
            <th>D2</th>
            <th>D3</th>
            <th>Valor</th>
            <th>Saldo</th>
            <th>Origem</th>
            <th>#Anterior</th>
            <th>Realiza</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="movimentacao in movs = (movimentacoes | filter: {data: filtroMes, origem: filtroOrigem} | filter: filtroGeral)"
            ng-class="{'negative-number': movimentacao.valor < 0, 'positive-number': movimentacao.valor >= 0,
            'success': movimentacao.selecionada}">
            <td ng-class="{realizada: movimentacao.realiza}">{{ movimentacao.id }}</td>
            <td ng-class="{realizada: movimentacao.realiza}">{{ movimentacao.data }}</td>
            <td ng-class="{realizada: movimentacao.realiza}">{{ movimentacao.numeroDocumento }}</td>
            <td ng-class="{realizada: movimentacao.realiza}">{{ movimentacao.descricao1 }}</td>
            <td ng-class="{realizada: movimentacao.realiza}">{{ movimentacao.descricao2 }}</td>
            <td ng-class="{realizada: movimentacao.realiza}">{{ movimentacao.descricao3 }}</td>
            <td>{{ movimentacao.valor | brl }}</td>
            <td>{{ movimentacao.saldo | brl }}</td>
            <td>{{ movimentacao.origem.nome }}</td>
            <td>{{ movimentacao.anteriorId }}</td>
            <td class="referencia-entidade"><a href="prp/previsao/{{ movimentacao.realiza.id }}" target="_blank">{{ movimentacao.realiza.descricao }}</a></td>
            <td>
                <a ng-click="editMovimentacao(movimentacao.id)" class="btn btn-primary btn-xs">
                    &emsp;<span class="glyphicon glyphicon-pencil"></span>&emsp;
                </a>
                &nbsp;
                <a ng-click="selecionarMovimentacao(movimentacao)" class="btn btn-xs"
                   ng-class="{'btn-success': movimentacao.selecionada, 'btn-warning': !movimentacao.selecionada}">
                    &emsp;&emsp;<span ng-show="!movimentacao.selecionada" class="glyphicon glyphicon-unchecked"></span>
                    <span ng-show="movimentacao.selecionada" class="glyphicon glyphicon-check"></span>&emsp;&emsp;
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
