.divPopup {
	padding: 10px;
	margin: auto;
	background-color: #eee;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
 	-webkit-box-shadow: 3px 3px 10px 5px rgba(1, 1, 1, .75);
	-moz-box-shadow: 3px 3px 10px 5px rgba(1, 1, 1, .75);
	box-shadow: 3px 3px 10px 5px rgba(1, 1, 1, .75);
	
	cursor: default;
}

.divPopup .divPopup-fechar
{
	border:1px solid rgba(0,0,0,0.2);
	color:red !important;
	float:right;
	font-family:Arial,sans-serif;
	font-size:16px;
	font-weight:400;
	line-height:1;

	margin-left:5px;
	padding:2px 6px 3px;
	
	cursor: pointer;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}