#set($titulo = "Movimentacao :: Nova")
#set($css = ["movimentacao.css", "movimentacao.add.css"])
#set($scripts = ["viewModels/movimentacao.add.js"])

<div id="addPrevisao" class="usuario movimentacoes">
	<img src="#springUrl('/static/img/flat/bills.png')" alt="Movimentacoes" class="imagemDetalhe" />
	<h1>Movimentacoes $descricao</h1>
	<div style="clear: both;"></div>
</div>

<div class='liveExample addMovimentacao'> 
    <div>
      	<div>Origens: <select data-bind="options: origens, optionsText: 'nome', selectedOptions: origemSelecionada, event: {change: $root.origemAlterada}"></select></div>
      	
      	<div class="paineis">
    		<div class="painel" style="font-weight: bold">
    			<div>Origem Selecionada:</div>
    			<div data-bind="foreach: origemSelecionada"><span data-bind='text: nome'></span></div>
    		</div>
    		
    		<div class="painel">
    			<div>Mes:</div>
    			<div><span data-bind='text: mesUltimaMovimentacao'></span></div>
    		</div>
    		<div class="painel">
    			<div>dataUltimaMovimentacao:</div>
    			<div><span data-bind='text: dataUltimaMovimentacao'></span></div>
    		</div>
    		<div class="painel">
    			<div>saldoUltimaMovimentacao:</div>
    			<div><span data-bind='text: saldoUltimaMovimentacao'></span></div>
    		</div>
    		<div class="painel">
    			<div>ordemUltimaMovimentacao:</div>
    			<div><span data-bind='text: ordemUltimaMovimentacao'></span></div>
    		</div>
    	</div>
    	
    </div>
    <div>
        <form action='/someServerSideHandler'>
            <table data-bind='visible: movimentacoes().length > 0'>
                <thead>
                    <tr>
    					<th>data</th>
    					<th>numDoc</th>
    					<th>desc1</th>
    					<th>d2</th>
    					<th>d3</th>
    					<th>valor</th>
    					<th>saldo</th>
    					<th>ordSd</th>
    					<th>realiza.descricao</th>
    			        <th></th>
    			    </tr>
                </thead>
                <tbody data-bind='foreach: movimentacoes'>
                    <tr>
    					<td><input class='required' data-bind='value: data' type="date" /></td>
    					<td><input class='required menor' data-bind='value: numeroDocumento' /></td>
    					<td><input class='required' data-bind='value: descricao1' /></td>
    					<td><input class='required menor' data-bind='value: descricao2' /></td>
    					<td><input class='required menor' data-bind='value: descricao3' /></td>
                        <td><input class='required number' data-bind='value: valor' type="number" step="any" /></td>
                        <td><span data-bind="text: saldo.toFixed(2)"></span></td>
                        <td><span data-bind='text: ordemSaldo'></span></td>
                        <td>
                        	<img src="#springUrl('/static/img/flat/binoculars_zoom.png')" class="imagemIcone clickavel" alt="Selecionar Previsao">
                        	<span data-bind='text: realiza'></span>
                        </td>
                        <td>
                        	<a href='#' data-bind='click: $root.remover'><img src="#springUrl('/static/img/delete.png')" alt="Apagar linha" /></a>
                        	<a href='#' data-bind='click: $root.subir'><img src="#springUrl('/static/img/arrow-up.png')" alt="Subir" /></a>
                        	<a href='#' data-bind='click: $root.descer'><img src="#springUrl('/static/img/arrow-down.png')" alt="Descer" /></a>
                        	<a href='#' data-bind='click: $root.descer'><img src="#springUrl('/static/img/previsao-up.png')" alt="Copiar Previsao de Cima" /></a>
                        	<a href='#' data-bind='click: $root.descer'><img src="#springUrl('/static/img/previsao-down.png')" alt="Copiar Previsao de Baixo" /></a>
                       	</td>
    				</tr>
                </tbody>
            </table>
         
            <button data-bind='click: adicionarVazia'>Adicionar Movimentacao</button>
            <button data-bind='click: atualizarSaldo'>Atualizar Saldo</button>
            <button data-bind='enable: movimentacoes().length > 0' type='submit'>Submit</button>
        </form>
        <div>Total de movimentacoes: <span data-bind='text: movimentacoes().length'></span></div>
        
    </div>
</div>