<div class="container-fluid">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-1 control-label">Filtros Geral/Mes:</label>
            <div class="col-sm-1"><input type="text" class="form-control" ng-model="filtroGeral"/></div>
            <div class="col-sm-2"><input type="month" class="form-control" ng-model="filtroMes"/></div>
            <div class="col-sm-1">
                <img src="img/check.png" alt="bill" />
                <select class="form-control" ng-model="filtroRealizada" ng-options="obj.value as obj.label for obj in booleanCombo"></select>
            </div>
            <div class="col-sm-1">
                <img src="img/bill.png" alt="bill" />
                <select class="form-control" ng-model="filtroBill" ng-options="obj.value as obj.label for obj in booleanCombo"></select>
            </div>
            <div class="col-sm-2"><p class="form-control-static">Total: {{ prevs.length }}</p></div>
            <div class="col-sm-2">
                <a href="/prp/previsao/add" class="btn btn-primary">Criar Nova Previsão</a>
            </div>
        </div>
    </form>

    <table class="table table-striped table-condensed table-hover" style="font-size: 80%">
        <thead>
        <tr>
            <th>#</th>
            <th>Data</th>
            <th>Descricao</th>
            <th>Realizada</th>
            <th>Bill</th>
            <th>Valor</th>
            <th>Qtd Movs</th>
            <th>Val Movs</th>
            <th>Val Final</th>
            <th>Categoria</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="previsao in prevs = ( previsoes | filter: {data: filtroMes, realizada: filtroRealizada, bill: filtroBill} | filter: filtroGeral)"
            ng-class="{'negative-number': previsao.valor < 0, 'positive-number': previsao.valor >= 0}"
                >
            <td><a href="/prp/previsao/{{ previsao.id }}" target="_blank">{{ previsao.id }}</a></td>
            <td ng-class="{realizada: previsao.realizada}">{{ previsao.data }}</td>
            <td ng-class="{realizada: previsao.realizada}">{{ previsao.descricao }}</td>
            <td>
                <img src="img/check.png" alt="realizada" height="60%" ng-show="previsao.realizada" />
                <span ng-show="!previsao.realizada">-</span>
            </td>
            <td>
                <img src="img/bill.png" alt="bill" height="60%" ng-show="previsao.bill" />
                <span ng-show="!previsao.bill">-</span>
            </td>
            <td>{{ previsao.valor | brl }}</td>
            <td>{{ previsao.qtdMovimentacoes }}</td>
            <td>{{ previsao.somaValorMovimentacoes | brl }}</td>
            <td ng-class="{boldie: previsao.realizada}">{{ previsao.valorFinal | brl }}</td>
            <td class="referencia-entidade"><a href="prp/categoria/{{ previsao.categoria.id }}" target="_blank">{{ previsao.categoria.nome }}</a></td>
            <td><a ng-click="editPrevisao(previsao.id)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></a></td>
        </tr>
        </tbody>
    </table>
</div>
