<div class="container-fluid">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-1 control-label" for="filtroPrevisao">Filtrar:</label>
            <div class="col-sm-2"><input type="text" class="form-control" id="filtroPrevisao" ng-model="filtroPrevisao"/></div>
            <div class="col-sm-2"><p class="form-control-static">Total: {{ prevs.length }}</p></div>
            <div class="col-sm-offset-2 col-sm-2">
                <a href="/prp/previsao/add" class="btn btn-primary">Criar Nova Previsão</a>
            </div>
        </div>
    </form>

    <table class="table table-striped table-condensed table-hover" style="font-size: 80%">
        <thead>
        <tr>
            <th>#</th>
            <th>Data</th>
            <th>Descricao</th>
            <th>Valor</th>
            <th>Realizada</th>
            <th>Bill</th>
            <th>Categoria</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="previsao in prevs = ( previsoes | filter: filtroPrevisao )"
            ng-class="{'negative-number': previsao.valor < 0, 'positive-number': previsao.valor >= 0}">
            <td>{{ previsao.id }}</td>
            <td>{{ previsao.data }}</td>
            <td>{{ previsao.descricao }}</td>
            <td>{{ previsao.valor | brl }}</td>
            <td>{{ previsao.realizada }}</td>
            <td>{{ previsao.bill }}</td>
            <td><strong><i>{{ previsao.categoria.nome }}</i></strong></p></td>
            <td><a ng-click="editPrevisao(previsao.id)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></a></td>
        </tr>
        </tbody>
    </table>
</div>
