<div class="container">
    <h1>Previsao detail</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputData">Data:</label>
            <div class="controls"><input type="date" id="inputData" ng-model="previsao.data"/></div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="inputDescricao">Descricao:</label>
            <div class="controls"><input type="text" id="inputDescricao" ng-model="previsao.descricao"/></div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="inputValor">Valor:</label>
            <div class="controls"><input type="text" id="inputValor" ng-model="previsao.valor"/></div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="inputRealizada">Realizada:</label>
            <div class="controls"><input type="checkbox" id="inputRealizada" ng-model="previsao.realizada"/></div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="inputBill">Bill:</label>
            <div class="controls"><input type="checkbox" id="inputBill" ng-model="previsao.bill"/></div>
        </div>
        
        <div class="control-group">
            <label class="control-label">Categoria:</label>
            <div class="controls">{{ previsao.categoria.nome }}</div>
        </div>
        
        <div class="control-group">
            <div class="controls">
                <a ng-click="cancel()" class="btn btn-small">cancel</a>
                <a ng-click="updatePrevisao()" class="btn btn-small btn-primary">update previsao</a>
            </div>
        </div>
    </form>
</div>
