body { font-family: arial; font-size: 14px; }

li { list-style-type: disc; margin-left: 20px; }

.addMovimentacao * {
	font-family: Verdana; font-size: small;
}
.addMovimentacao input[type=date] {
	width: 140px;
}
.addMovimentacao input[type=number] {
	width: 85px;
}
.addMovimentacao .menor {
	width: 70px;
}
.addMovimentacao .medio {
    min-width: 100px;
    width: 100%;
}
.addMovimentacao .maior {
    min-width: 120px;
    width: 100%;
}
.addMovimentacao .imenso {
    min-width: 280px;
    width: 100%;
}
.painel {
	float: left;
	border: 1px solid black;
	padding: 2px;
	margin: 5px;
}
.painel div {
	border: 1px solid black;
	padding: 5px;
	margin: 5px;
}
#addTable {
	width: 100%;
}
.copiarAnterior,.copiarSeguinte {
	float: right;
	margin-left: 5px;
}
.copiarAnterior+.copiarSeguinte.apagado:before {
	content: " ! ";
	background-color: red;
}
.saldo {
	text-align: right;
	color: red;
	font-size: xx-large;
}
.readOnly, .readOnly input {
	background-color: #DDD;
}
.apagado {
	visibility: hidden;
}
.mensagens {
	float: right;
	overflow-y: scroll;
	border: 1px solid gray;
	height: 100px;
	width: 500px;
}

.credito {
    color: blue;
}
.debito {
    color: red;
}



/*-------------------------------------------------------------------------------*/
/* AREA DE TEXTO EMBAIXO */
.bulk {
    padding: 12px;
}
textarea {
    width: 90%;
    margin: 0 auto;
    border: 2px solid #666;
    font-family: consolas, monospace;
    height: 200px;
    overflow: auto;
    display: block;
}
.bulk table, .bulk tr, .bulk td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: consolas;
    font-size: 10pt;
}
.bulk .erro {
    color: red;
    font-weight: bold;
    background: yellow;
}