#set($mobile = true)
#set($titulo = "Previsao :: Nova")
#set($css = ["movimentacao.css"])
#set($scripts = ["prp/util/Ajax.js", "prp/previsao/Previsao.js",  "prp/previsao/PrevisaoRepository.js", "viewmodel/previsao/add.js"])

<div class="ui-page-theme-a"  id="addPrevisao" ng-app ng-controller="PrevisaoAddController">
	
    <div class="ui-header ui-bar-inherit">
		 <a class="ui-btn-left ui-btn-corner-all ui-btn ui-icon-home ui-btn-icon-notext ui-shadow" title=" Home " href="#springUrl('/')previsao" > Home </a>
         <h1 class="ui-title" aria-level="1">Adicionar Nova Previsao</h1>
    </div>
	
	<div class="ui-content">
        <form>

            <div class="ui-field-contain">
                <label for="previsao_data">Data de Realizacao Esperada:</label>
                <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset" ng-class="{'ui-disabled': desabilitarTodos}">
					<input ng-model="previsao.data" type="date" id="previsao_data" required="required" placeholder="Data Esperada" ng-disabled="desabilitarTodos" />
                </div>
            </div>
			
            <div class="ui-field-contain">
                <label for="previsao_descricao">Descricao:</label>
                <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset" ng-class="{'ui-disabled': desabilitarTodos}">
					<input ng-model="previsao.descricao" type="text" required="required" placeholder="Descricao da previsao" id="previsao_descricao" style="width: 500px" maxlength="255" ng-disabled="desabilitarTodos" />
                </div>
            </div>
			<div class="ui-field-contain">
                <label></label>
                <div>
					A string <span class="code">&nbsp;$MES </span> serah substituida pelo ano e mes da data de realizacao fornecida. Ex.: <span class="code">"Lazer $MES"</span> serah salva como <span class="code">"Lazer {{previsao.data.split('-')[0]+"."+previsao.data.split('-')[1]}}"</span>.
                </div>
            </div>
			
            <div class="ui-field-contain">
                <label for="previsao_valor">Valor (R$):</label>
                <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset" ng-class="{'ui-disabled': desabilitarTodos}">
					<input ng-model="previsao.valor" type="number" step="any" required="required" placeholder="Valor esperado" id="previsao_valor" ng-disabled="desabilitarTodos" />
                </div>
            </div>
            <div class="ui-field-contain">
                <label></label>
                <div>
					Utilize valores <strong>negativos</strong> para previsoes de <span class="debito">debito</span>.
                </div>
            </div>
			
            <div class="ui-field-contain">
                <label for="previsao_categoria">Categoria:</label>
                <div class="ui-select" ng-class="{'ui-disabled': desabilitarTodos}">
                    <div class="ui-btn ui-icon-carat-d ui-btn-icon-right ui-corner-all ui-shadow">
						<span>{{previsao.categoria.nome}}&nbsp;</span>
						<select ng-model="previsao.categoria" ng-options="c as c.nome for c in categorias" id="previsao_categoria" ng-disabled="desabilitarTodos"></select>
                    </div>
                </div>
            </div>
          
			<br>
			<button id="salvar" ng-click="salvar()" class="ui-btn ui-corner-all ui-shadow ui-icon-check ui-btn-icon-right" ng-class="{'ui-disabled': desabilitarTodos}" ng-disabled="desabilitarTodos">Salvar</button>

			<div id="status"></div>

        </form>
    </div>
</div>

#define ($script)
    <script type='text/javascript'>
        var descricaoInicial = '$descricaoInicial';
        var dataInicial = '$dataInicial';
        var categorias = jQuery.parseJSON('$categorias');
        
        var parametroCategoria = '$categoriaInicial';
        var categoriaInicial = null;
		
        if (parametroCategoria.length > 0) {
        	jQuery.each(categorias, function (i, categoria) {
        		if (categoria.id == parametroCategoria) {
        			categoriaInicial = categoria;
        			return false;
        		}
        	});
        }
    </script>
#end