#set($titulo = "Categoria :: Todas")
#set($css = ["movimentacao.css"])

<div class="usuario movimentacoes">
	<h1>Categorias</h1>
	<table>
		<thead>
			<tr>
					<th>id</th>
					<th>nome</th>
					<th>revisado</th>
					<th style="width: 60px"></th>
			</tr>
		</thead>
		<tbody>
			#foreach ($categoria in $categorias)
				<tr>
					<td>$categoria.id</td>
					<td>$categoria.nome</td>
					<td>$categoria.revisado</td>
					<td>
						<a href="#springUrl('/categoria/')$categoria.id">
							<img src="#springUrl('/static/img/view_doc.png')" alt="ver detalhes" class="imagemIcone clickavel" />
						</a>
						<a href="#springUrl('/')previsao/categoria/$categoria.id">
							<img src="#springUrl('/static/img/flat/binoculars.png')" alt="Ver previsoes" class="imagemIcone clickavel" />
						</a>
					</td>
				</tr>
			#end
		</tbody>
	</table>
</div>